/**
 * @section Typography
 * Sets font styles for entire site
 */

body {
	background: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-primary);
	font-size: var(--font-size);
	line-height: 1.5;

	@media (min-width: $bp-medium) {
		line-height: var(--spacing);
	}
}

p {
	margin: 0 0 var(--spacing);
}


/**
 * Hyperlink styling
 */

a {
	color: var(--color-link);
	text-decoration-skip-ink: auto;
	word-wrap: break-word;

	&:active,
	&:hover {
		color: var(--color-primary-shade);
	}
}


.link-no-underline {
	text-decoration: none;

	&:active,
	&:hover {
		text-decoration: underline;
	}
}


/**
 * Remove default link styling
 */
.link-plain {
	color: var(--color-text);
	text-decoration: none;

	&:active,
	&:hover {
		color: var(--color-link);
	}
}


/**
 * List styling
 */

ul,
ol {
	margin: 0 0 var(--spacing) 2em;
	padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

li {
	margin-bottom: 0.5em;

	@media (min-width: $bp-medium) {
		margin-bottom: 0.25em;
	}
}

dl,
dd {
	margin: 0;
	padding: 0;
}

dd {
	margin-bottom: var(--spacing);
}

dt {
	font-weight: bold;
}

/**
 * @bugfix Prevent webkit from removing list semantics
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
%list-style-none {
	list-style: none;
	margin-left: 0;

	& > li::before {
		content: "\200B"; /* 1 */
		position: absolute; /* 2 */
	}
}

/**
 * Removes list styling.
 * For semantic reasons, should only be used on unordered lists.
 */
.list-unstyled {
	@extend %list-style-none;
	margin-left: 0;
}

/**
 * Display lists on a single line.
 */

.list-inline {
	@extend %list-style-none;
	display: flex;

	& > li {
		margin: 0 0.5em;
	}

	& > li:first-child {
		margin-left: 0;
	}
}

.list-nav {
	@extend %list-style-none;
	display: flex;

	& > li > a {
		padding: 0 0.5em;
	}
}


/**
 * Heading styling for h1 through h6 elements.
 * Heading class lets you use one heading type for semantics, but style it as another heading type.
 */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: 0 0 1em;
	padding: 1em 0 0;
	word-wrap: break-word;
}

h1,
.h1 {
	font-size: 1.5em;

	@media (min-width: $bp-medium) {
		font-size: 1.75em;
	}
}

h2,
.h2 {
	font-size: 1.3125em;
}

h3,
.h3 {
	font-size: 1.1875em;
}

h4, h5, h6,
.h4, .h5, .h6 {
	font-size: 1em;
}

h4,
.h4 {
	font-size: 0.8125em;
	text-transform: uppercase;
}

/**
 * Lines
 */
hr {
	border: 0;
	border-top: 1px solid var(--color-gray-light);
	margin: 2em auto;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	background: var(--color-highlight);
	color: var(--color-text);
}

/**
 * Blockquotes
 */

blockquote {
	border-left: 0.25em solid var(--color-gray-light);
	font-style: italic;
	margin: 0 0 var(--spacing);
	padding-left: 1em;
	padding-right: 1em;

	pre {
		font-style: normal;
	}
}

cite {
	color: var(--color-gray-dark);
	display: block;
	font-size: 0.9375em;
	padding-top: 1em;
}