/**
 * @section Grid
 * Structure and layout
 */

/**
 * Base grid styles: single column
 */
.container {
	@extend .clearfix;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--container-max-width);
	width: var(--container-width);
}

.container-large {
	max-width: var(--container-large-max-width);
}

.header-nav,
.footer,
.content {
	@extend .container;
	@extend .container-large;
}


/**
 * Grids
 */

@media (min-width: $bp-medium) {

	.row {
		display: flex;
		margin-left: -1.4%;
		margin-right: -1.4%;
		justify-content: space-between;
	}

	.row-reverse {
		flex-direction: row-reverse;
	}

	.grid-auto,
	.grid-fourth,
	.grid-third,
	.grid-two-thirds,
	.grid-half,
	.grid-three-fourths {
		margin-left: 1.4%;
		margin-right: 1.4%;
	}

	.grid-auto {
		flex: 1 1;
	}

	.grid-fifth {
		width: 20%;
	}

	.grid-fourth {
		width: 25%;
	}

	.grid-third {
		width: 33.33333%;
	}

	.grid-two-thirds {
		width: 66.66666%;
	}

	.grid-half {
		width: 50%;
	}

	.grid-three-fourths {
		width: 75%;
	}

	.grid-four-fifths {
		width: 80%;
	}

}