/**
 * @section Layout
 * Shared layout features
 */

/**
 * Main content area
 */
.main {
	min-height: 70vh;
}


/**
 * Header
 */

.nav-logo {
	@extend .link-plain;
	font-weight: bold;
}


/**
 * Footer
 */

.footer-wrapper {
	background-color: var(--color-footer-bg);
	color: var(--color-footer-text);
	margin-top: 2em;
	padding-top: 2em;

	a {
		color: var(--color-footer-link);

		&:active,
		&:hover {
			filter: brightness(0.8);
		}
	}
}

.nav-secondary {
	@extend .list-inline;

	a {
		@extend .link-no-underline;
	}
}


/**
 * Search
 */

.nav-search {
	@extend .clearfix;
}

#search-input,
#search-box {
	margin-bottom: 0;
}

#search-box {
	float: left;
	padding-right: 2.25em;
}

.btn-nav-search {
	background-color: transparent;
	border: none;
	color: var(--color-form-text);
	margin-left: -2em;

	&:active,
	&:hover {
		background-color: transparent;
		color: var(--color-text);
	}
}

.search-form th,
.search-form td {
	border: none;
	padding: 0;
}