/**
 * @section Default Theme
 */

.logo-nav-wrapper,
.nav-main {
	@extend .container;
}

.nav-user-list {
	justify-content: flex-end;
}

.logo-nav-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
	grid-template-rows: 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 0;
}

.nav-logo {
	grid-area: 1 / 1 / 2 / 2;
}

.nav-user-wrapper {
	grid-area: 1 / 2 / 2 / 3;
}