/**
 * @section Default Theme
 */

.nav-user,
.logo-nav-wrapper {
	@extend .container;
}

.nav-user-list {
	justify-content: flex-end;
}

@media (min-width: $bp-large) {
	.logo-nav-wrapper {
		display: grid;
		grid-template-columns: fit-content(20ch) minmax(min(50vw, 30ch), 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 1em;
		grid-row-gap: 0;
	}

	.nav-logo {
		grid-area: 1 / 1 / 2 / 2;
		padding-top: 0.1875em;
	}

	.nav-main-wrapper {
		grid-area: 1 / 2 / 2 / 3;
	}

	.nav-main-list {
		justify-content: flex-end;
	}
}