/**
 * @section Apps & Member
 * Overrides typography on apps and member pages
 */


.page-apps,
.page-member {

	.main .navigation ul,
	.main .actions ul,
	&.register .section-body table ul {
		@extend .list-inline;

		a {
			@extend .link-no-underline;
		}

		.active a {
			color: var(--color-black);
			font-weight: bold;
		}
	}

	.process-1 {
		@extend .btn-transparent;
	}

}

.application-actions a.action,
.key-actions a.action,
a.add-app.action {
	@extend .btn;

	&.delete,
	&.delete-app {
		@extend .btn-transparent;
	}
}

#application-edit ul {
	@extend .list-unstyled;
	padding-left: var(--spacing);
	padding-right: var(--spacing);
}