/**
 * @section Forum
 * Overrides typography on forum pages
 */


.page-forum {

	.section-menu,
	.rss {
		display: none;
	}

	.breadcrumbs {
		@extend .list-inline;

		li {
			margin: 0 1em;
		}

		li + li:before {
			content: " > ";
			margin-left: -1.1875em;
		}
	}

	ol.topics {
		@extend .list-unstyled;
	}

	.create-new {
		@extend .btn;
		margin-bottom: var(--spacing);
	}

	ol.topics .topic {
		@extend .callout;

		& > ul {
			@extend .list-unstyled;
		}

		.subject {
			font-weight: bold;

			a {
				@extend .link-no-underline;
			}
		}

		.comment-count span {
			font-weight: bold;

			&:after {
				content: ": "
			}
		}

		@media (min-width: $bp-medium) {
			& > ul {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(3, 1fr);
				grid-column-gap: 0.5em;
				grid-row-gap: 0;
			}

			.subject { grid-area: 1 / 1 / 2 / 3; }
			.edit-topic { grid-area: 1 / 3 / 2 / 4; }
			.moniker { grid-area: 2 / 1 / 3 / 3; }
			.comment-count { grid-area: 2 / 3 / 3 / 4; }
			.last-comment { grid-area: 3 / 1 / 4 / 3; }
			.last-active { grid-area: 3 / 3 / 4 / 4; }

			.edit-topic,
			.comment-count,
			.last-active {
				text-align: right;
			}
		}
	}

	ol.comments {
		@extend .list-unstyled;

		& > li {
			@extend .callout;
		}

		.comment-meta {
			@extend .list-inline;

			.user-reference {
				font-weight: bold;
			}

			.timestamp {
				font-style: italic;
			}
		}

		.edit-timestamp {
			font-style: italic;
		}
	}

	.comment-tags > ul {
		@extend .list-inline;
	}

	div.comments {
		margin-top: var(--spacing);
	}

	.comments legend {
		@extend .h3;
	}

	dd {
		margin-bottom: unset;
	}

}