/**
 * @section Interactive Docs
 */

.page-ioDocs {

	// h2 select {
	// 	font-size: 0.761904762em;
	// 	font-weight: normal;
	// 	max-width: 100%;
	// }

	#apiTitle {
		font-weight: bold;
	}

	#apiId {
		width: auto;
	}

	.credentials {
		background-color: var(--color-gray-lighter);
		border: 1px solid var(--color-gray-light);
		margin-bottom: var(--spacing);
		padding: 1.5em;
	}

	.endpointList,
	.methods {
		@extend .list-unstyled;
	}

	.endpoint h3 > .actions {
		display: none;
	}

	.method {
		background-color: var(--color-endpoint-bg);
		border: 1px solid var(--color-endpoint-border);
		color: var(--color-endpoint-text);
		margin-bottom: 1em;
		padding: 0.5em;

		& form {
			display: none;
			margin-top: 1em;
		}

		&.get {
			background-color: var(--color-get-bg);
			border-color: var(--color-get);
		}

		&.post {
			background-color: var(--color-post-bg);
			border-color: var(--color-post);
		}

		&.put {
			background-color: var(--color-put-bg);
			border-color: var(--color-put);
		}

		&.delete {
			background-color: var(--color-delete-bg);
			border-color: var(--color-delete);
		}

		&.patch {
			background-color: var(--color-patch-bg);
			border-color: var(--color-patch);
		}

		&.options {
			background-color: var(--color-options-bg);
			border-color: var(--color-options);
		}

		&.head {
			background-color: var(--color-head-bg);
			border-color: var(--color-head);
		}
	}

	.http-method {
		background-color: var(--color-method-bg);
		border-radius: 0.25em;
		color: var(--color-method-text);
		display: inline-block;
		margin-right: 0.5em;
		padding: 0.25em 0.5em;
		text-align: center;
		width: 4em;
	}

	.get .http-method {
		background-color: var(--color-get);
	}

	.post .http-method {
		background-color: var(--color-post);
	}

	.put .http-method {
		background-color: var(--color-put);
	}

	.delete .http-method {
		background-color: var(--color-delete);
	}

	.patch .http-method {
		background-color: var(--color-patch);
	}

	.options .http-method {
		background-color: var(--color-options);
	}

	.head .http-method {
		background-color: var(--color-head);
	}

	.clear-results {
		margin: 0 1em;
	}

	.select-all {
		display: none;
	}

}