/**
 * @section API Key Reports
 * Overrides typography on API key reports page
 */


.page-key {

	.main ul.nav {
		@extend .list-inline;

		a {
			@extend .link-no-underline;
		}

		.active a {
			color: var(--color-black);
			font-weight: bold;
		}
	}

	.chart.loading {
		font-style: italic;
		margin-bottom: var(--spacing);
	}

	.options a {
		@extend .btn;
	}

}